@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts from https://gwfh.mranftl.com/fonts/roboto?subsets=cyrillic,latin */

/* roboto-regular - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Gilroy-Medium";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/Gilroy-Medium.woff") format("woff"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lilita-one-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Gilroy-Black";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Gilroy-Black.woff") format("woff"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
	@apply font-sans;
	--base-font-family: "Gilroy-Medium", -apple-system, BlinkMacSystemFont, "avenir next",
		avenir, "segoe ui", "helvetica neue", helvetica, Cantarell, Ubuntu, noto,
		arial, sans-serif;
	--heading-font-family: "Gilroy-Black", Seravek, Gill Sans Nova, Ubuntu, Calibri,
		DejaVu Sans, source-sans-pro, sans-serif;
}

/*
  Copy the following classes to your global stylesheet. Rename and modify as desired.
  Reference: http://skeleton.dev/docs/get-started/plugin#typography
*/
.type-display-4 {
	@apply type-scale-11 md:type-scale-12 lg:type-scale-13;
	@apply heading-font-family heading-font-weight;
}
.type-display-3 {
	@apply type-scale-10 md:type-scale-11 lg:type-scale-12;
	@apply heading-font-family heading-font-weight;
}
.type-display-2 {
	@apply type-scale-9 md:type-scale-10 lg:type-scale-11;
	@apply heading-font-family heading-font-weight;
}
.type-display-1 {
	@apply type-scale-8 md:type-scale-9 lg:type-scale-10;
	@apply heading-font-family heading-font-weight;
}
.type-headline {
	@apply type-scale-6 md:type-scale-7 lg:type-scale-8;
	@apply heading-font-family heading-font-weight;
}
.type-title {
	@apply type-scale-5 md:type-scale-6 lg:type-scale-7;
	@apply heading-font-family heading-font-weight;
}
.type-subtitle {
	@apply type-scale-3 md:type-scale-4 lg:type-scale-5;
	@apply heading-font-family;
	@apply opacity-60;
}
/* --- */
.type-body-1 {
	@apply type-scale-5 md:type-scale-6 lg:type-scale-7;
  @apply base-font-family heading-font-weight;
}
.type-body-2 {
	@apply type-scale-4 lg:type-scale-5;
  @apply base-font-family heading-font-weight;

}
.type-caption {
	@apply type-scale-2;
	@apply italic opacity-60;
  @apply base-font-family heading-font-weight;

}
.type-menu {
	@apply type-scale-3;
	@apply font-bold;
  @apply base-font-family heading-font-weight;

}
.type-button {
	@apply type-scale-3;
  @apply base-font-family heading-font-weight;

}
